<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <script type="module" src="<%=jsBundle%>"></script>
        <title></title>
    </head>
    <body>
        <div id="reactRedux"><!-- content plugs here --></div>
    </body>
</html>
